html{
    height: 100%;
}
body{
    height: 100%;
    display: grid;
   
    grid-template-rows: 19% auto 10%;
     grid-template-areas:
    "header"
    "main "
    "footer ";
    
}
.header{
    grid-area: header;
    height: 100%;
    
    color: white; 
    margin-bottom: 0px;

}
.titre-header{
grid-area: titre-header;
display: flex;
justify-content: flex-start;
align-items: center;
background-color: rgb(30, 95, 245);
width: 100%;
}
.onglet{
    display: flex;
    justify-content:space-around
}
.onglet .p1{
    
    background-color: rgb(76, 127, 248);
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.onglet .p2{
    
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 95, 245);
}

.article{

    border-radius: 30px;
    display: grid;
    margin: 9px;
     grid-template-rows: 1fr ;
     grid-row-gap: 35px;
     grid-template-columns: 130px auto;
     grid-template-areas: 
     "image description"
    
}
.article  .titre{
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: bold;
}
.article .descr{
    margin-top: 0px;
   
}
.article .time-money{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}
img{
    width: 130px;
}
.image{
    grid-area: image;
    border-radius: 10px;
}
article, .description{
    grid-area: description;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    height: 128px;
}

.main{
grid-area: main;
margin-top: 0px;
padding-top: 0px;
background-color: rgb(233, 228, 237);
}

.accueil{
    
    
    background-color: rgb(223, 230, 236);
    height: 230px;
    margin-bottom: 50px;


}

.footer{
    grid-area: footer;
    background-color: rgb(30, 95, 245);
    color: white;
    height: 30px;
    padding-bottom: 2%;
    
}
.footer p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2%;
    
}
@media screen and (min-width: 700px) {
.article{
    display:inline-flex;
    margin: 9px;
    
}


img{
    width: 130px;
}

article, .description{
    height: 128px;
    width: 180px;
}
}

/* @media screen and (min-width: 800px) {
.article{

    border-radius: 30px;
    display:inline-flex;
    margin: 9px;
    
}


img{
    width: 140px;
}

article, .description{
    height: 148px;
    width: 300px;
}
}
 */