html{
    height: 100%;
}
body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "main "
        "footer ";
    height: 100%;
    margin: 0;
}

/* Section entête */
.header{
    grid-area: header;
    background-color: rgb(30, 95, 245);
    color: white;
    height: 50px;
    margin-bottom: 0px;
    padding-bottom: 2%;
    
}
.header h2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2%;
  
}
/* section corp de page */
/* page d'accueil */
.main{
grid-area: main;
}
.accueil{ 
    background-color: rgb(163, 169, 173);
    height: 230px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

}
.accueil .p1{
   display: flex;
   justify-content: center;
   align-items: center; 
   font-size: 30px;
   margin-bottom: 0px;
}

/* section formulaire login*/

.formulaire{

background-color: white;
display: flex;
     flex-direction: column;
     align-items: center;
     margin-right: 30px;

}

.image{
    width: 100px;
    height: auto;
    background-color: white;
    border-radius: 100%;

    
}
input{
    width: 90%;
     margin-bottom: 10px;
     margin-left: 5%;
     background-color: rgb(223, 230, 236);
     border: 0;
     height: 40px;
     
     
    
}
button{
    background-color: rgb(30, 95, 245);
    width: 90%;
    height: 40px;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 5%;
    color: white;
    border-radius: 5px;
    border: 0;
}

/* Section pied de page */
.footer{
    grid-area: footer;
    background-color: rgb(30, 95, 245);
    color: white;
    height: 30px;
    padding-bottom: 2%;
    
}
.footer p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2%;
    
}
